<% wrap_layout :layout do %>
  <% language_pages.each_with_index do |page, index| %>
    <article class="content content-container"
      style="<% if page.data.section %>display:none<% end %>">
      <div class="content-container__description">
        <div class="content__description ">
          <% if page.data.section %>
            <h0><%= page.data.section %></h0>
          <% end %>
          <%= page.body %>
        </div>
      </div>
      <% codes = codes_for_page(page) %>
      <div class="content-container__code">
        <div class="content__code">
          <% codes.each do |code| %>
            <% if code.language %>
              <% code(code.language[:highlight]) do %><%= code.body %><% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>

    <% if index == language_pages.length - 1 %>
      <article class="content content-container last-article-footer">
        <div class="content-container__description">
        </div>
        <div class="content-container__code">
        </div>
      </article>
    <% end %>
  <% end %>
<% end %>
