<% wrap_layout :layout do %>
  <% language_pages.each_with_index do |page, index| %>
    <article class="content content-container">
      <div class="content-container__description">
        <div class="content__description site-main">
          <%= page.body %>
        </div>
      </div>
      <% codes = codes_for_page(page) %>
      <div class="content-container__code">
        <div class="content__code site-main">
          <% codes.each do |code| %>
            <% if code.language %>
              <% code(code.language[:highlight]) do %><%= code.body %><% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>

    <% if index == language_pages.length - 1 %>
      <!-- Spacer making sure you can scroll to nav items -->
      <article class="content content-container last-article-footer">
      </article>
    <% end %>
  <% end %>
<% end %>
