<!doctype html>
<!--[if IE 9]>         <html lang="en-gb" class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>GoCardless API Docs</title>
    <link href="/legacy/stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/legacy/fonts/fonts.css" rel="stylesheet" type="text/css">
  </head>

  <body class="site-frame site" ng-app="gc.docs" scroll-spy>
    <!--[if lt IE 9]>
      <div class="u-padding-Am deprecation-warning">
        <h1 class="u-margin-Tn">You are using an outdated browser.</h1>
        Please <a href="http://whatbrowser.org/">upgrade your browser</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">
        activate Google Chrome Frame
        </a> to improve your experience.
      </div>
    <![endif]-->
    <noscript>
      <div class="u-padding-Am deprecation-warning">
        <h1 class="u-margin-Tn">Please enable JavaScript</h1>
        <p>GoCardless requires your browser to have JavaScript enabled.
        <a href="http://enable-javascript.com" target="_blank">Learn more</a></p>
      </div>
    </noscript>

    <div class="u-padding-Am u-text-center version-deprecated__warning">
      <p>You are viewing the documentation for the Legacy GoCardless API, which will be switched off at the end of October 2017.</p>
      <p><a href="https://developer.gocardless.com">Click here</a> for the current API documentation.</p>
    </div>

    <header class="site-frame__header site-header u-cf">
      <div class="u-pull-start site-frame__aside site-header-nav site-nav"
        ng-init="isLangSelectVisiable = false">
        <div class="lang-select">
          <button ng-click="isLangSelectVisiable = !isLangSelectVisiable"
            class="lang-select__label"
            ng-class="{ 'is-open': isLangSelectVisiable }"
            close-when-outside="isLangSelectVisiable">
            {{ currentLanguage.name }}
            <span class="lang-select__label__arrow"
              ng-class="{ 'is-open': isLangSelectVisiable }"></span>
          </button>
          <div class="lang-select__dropdown"
            ng-class="{ 'is-open': isLangSelectVisiable }">
            {% for language in languages %}
              <a href="/legacy/{{ language.slug }}"
                class="lang-select__item"
                on-click-anchor>
                  {{ language.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="site-main u-overflow-hidden u-cf">
        <div class="u-pull-start">
          <a href="/" class="site-header-logo">
            <i class="icon-gc-logo-header"></i>
          </a>
        </div>

        <div class="u-pull-end">
          <nav class="top-nav u-pull-start">
            <a class="top-nav__item" href="https://gocardless.com">
              Visit GoCardless.com
            </a>
            <a class="top-nav__item" href="https://gocardless.com/jobs">
              We're hiring
            </a>
            <a class="top-nav__item " href="https://github.com/gocardless/legacy-api-docs">
              View on GitHub
            </a>
          </nav>
        </div>
      </div>
    </header>
    <nav class="site-frame__nav site-frame__aside site-nav u-padding-Ts">
      <toc-nav></toc-nav>
    </nav>
    <main class="site-frame__main">
