@import "variables";

$vertical-spacing: 25px;

.content {
  border-bottom: 1px solid #EDEDED;
}

.content__description {
  max-width: $content-max-width;
  padding-top: $vertical-spacing;
  padding-bottom: $vertical-spacing;
  padding-bottom: 40px;
}

.content__code {
  padding-top: 0;
  padding-bottom: $vertical-spacing;
  margin-top: -$vertical-spacing;
}

@media (min-width: $layout-min-width--normal) {
  .content__code {
    padding-top: 25px;
    margin-top: 0;
  }
}
