.deprecation-warning {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10000;
  background: #FFFFA0;
}

.version-deprecated__warning {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10000;
  background: #F5A623;
  color: #FFF;
  font-size: 16px;
  height: $deprecation-warning-height;
  display: block;

  a {
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
  }
}
