.icon-gc-logo-header {
  width: 149px;
  height: 17px;
  display: inline-block;
  background-image: url("https://gocardless.com/assets/logos/gc-logo-blue-b3b259bfa6f173d8d2d853fbb3ac317a.png");
  background-size: 149px 17px;
}
