.icon-gc-logo-header {
  width: 135px;
  height: 14px;
  display: inline-block;
  background-image: url("https://gocardless.com/assets/home/icons-l/gocardless-logo-blue@2x-0bdb097b3c6527a8513ac03ebd7c9898.png");
  background-size: 135px 14px;
  position: relative;
  top: 15px;
  margin-left: 48px;
}
