.icon-gc-logo-header {
  width: 149px;
  height: 17px;
  display: inline-block;
  background-image: url("../images/gc-logo-blue@2x.png");
  background-size: 149px 17px;
}

.icon--bill {
    width: 48px;
}

.icon--subscription {
    width: 48px;
}

.icon--user {
    width: 50px;
}

.icon--preauth {
    width: 38px;
}

.icon--merchant {
    width: 50px;
}

.icon--payout {
    width: 50px;
}

