@import "variables";

.lang-select {
  position: relative;
}

.lang-select__label {
  display: block;
  z-index: 1000;
  width: 100%;
  line-height: 30px;
  height: 30px;
  border: 1px solid #E1E1E1;
  padding: 0 10px;
  background: #FFF;
  border-radius: 3px;
  font-family: $font-family-heading;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #305C8C;
  cursor: pointer;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lang-select__label__arrow {
  position: absolute;
  right: 10px;
  top: 11px;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-style: solid;
    border-width: 6px;
    border-color: #2F5B8C transparent transparent transparent;
  }
}

.lang-select__label__arrow.is-open {
  &:before {
    top: -6px;
    border-color: transparent transparent #2F5B8C transparent;
  }
}

.lang-select__dropdown {
  display: none;
}

.lang-select__dropdown.is-open {
  display: block;
}

.lang-select__dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #AAA;
  border-radius: 3px;
  top: 33px;
}

.lang-select__item {
  display: block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid #eee;
  color: #305C8C;

  &:last-child {
    border-bottom: none;
  }

  &:active, &:focus {
    outline: none;
    background-color: #2F5B8C;
    color: #FFF;
  }

  &:hover {
    text-decoration: none;
  }
}
