@import "variables";

$header-z-index: 100;
$nav-z-index: 99;
$content-z-index: 98;

$sidebar-width--narrow: 180px;
$sidebar-width--normal: 200px;
$sidebar-width--wide: 243px;

.site-frame {
  height: 100%;
}

.site-frame__header {
  position: fixed;
  min-width: $layout-min-width--narrow;
  display: block;
  height: $header-nav-height;
  width: 100%;
  z-index: $header-z-index;
}

.site-frame__aside {
  display: block;
  width: $sidebar-width--narrow;
}

.site-frame__nav {
  position: fixed;
  top: $header-nav-height + $deprecation-warning-height;
  bottom: 0;
  z-index: $nav-z-index;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: $layout-min-width--normal) {
  .site-frame__aside {
    width: $sidebar-width--normal;
  }
}

@media (min-width: $layout-min-width--wide) {
  .site-frame__aside {
    width: $sidebar-width--wide;
  }
}

.site-frame__main {
  position: relative;
  display: block;
  top: $header-nav-height + $deprecation-warning-height;
  margin-left: $sidebar-width--narrow;
  z-index: $content-z-index;
  height: 100%;
}

@media (min-width: $layout-min-width--narrow) {
  .site-frame__nav {
    position: fixed;
  }
}

@media (min-width: $layout-min-width--normal) {
  .site-frame__main {
    margin-left: $sidebar-width--normal;
  }
}

@media (min-width: $layout-min-width--wide) {
  .site-frame__main {
    margin-left: $sidebar-width--wide;
  }
}
