@import "variables";

.site-main {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $layout-min-width--normal) {
  .site-main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $layout-min-width--wide) {
  .site-main {
    padding-left: 50px;
    padding-right: 50px;
  }
}
