@import "variables";

.top-nav__item {
  margin-left: 10px;
  font-family: $font-family-heading;
  color: #2F5B8C;
  font-size: 12px;
  line-height: $header-nav-height;
  height: $header-nav-height;

  &:hover {
    text-decoration: none;
    color: #2F5B8C;
  }

  &:first-child {
    margin-left: 0;
  }
}

@media (min-width: $layout-min-width--normal) {
  .top-nav__item {
    margin-left: 20px;
  }
}
