.u-1of2, .u-2of4, .u-3of6, .u-4of8, .u-5of10, .u-6of12 {
  width: 50%;
}

.u-1of3, .u-2of6, .u-3of9, .u-4of12 {
  width: 33.33333%;
}

.u-2of3, .u-4of6, .u-6of9, .u-8of12 {
  width: 66.66667%;
}

.u-1of4, .u-2of8, .u-3of12 {
  width: 25%;
}

.u-3of4, .u-6of8, .u-9of12 {
  width: 75%;
}

.u-1of5, .u-2of10 {
  width: 20%;
}

.u-2of5, .u-4of10 {
  width: 40%;
}

.u-3of5, .u-6of10 {
  width: 60%;
}

.u-4of5, .u-8of10 {
  width: 80%;
}

.u-1of6, .u-2of12 {
  width: 16.66667%;
}

.u-5of6, .u-10of12 {
  width: 83.33333%;
}

.u-1of8 {
  width: 12.5%;
}

.u-3of8 {
  width: 37.5%;
}

.u-5of8 {
  width: 62.5%;
}

.u-7of8 {
  width: 87.5%;
}

.u-1of9 {
  width: 11.11111%;
}

.u-2of9 {
  width: 22.22222%;
}

.u-4of9 {
  width: 44.44444%;
}

.u-5of9 {
  width: 55.55556%;
}

.u-7of9 {
  width: 77.77778%;
}

.u-8of9 {
  width: 88.88889%;
}

.u-1of10 {
  width: 10%;
}

.u-3of10 {
  width: 30%;
}

.u-7of10 {
  width: 70%;
}

.u-9of10 {
  width: 90%;
}

.u-1of12 {
  width: 8.33333%;
}

.u-5of12 {
  width: 41.66667%;
}

.u-7of12 {
  width: 58.33333%;
}

.u-11of12 {
  width: 91.66667%;
}

.u-full {
  width: 100%;
}
