@import "mixins/clearfix-mixin";

// Description Lists
dl {
  border-top: 1px solid #EDEDED;
  margin-bottom: 5px;
  padding-top: 5px;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: normal;
}

dd {
  margin-left: 0; // Undo browser default
}

dt {
  float: left;
  width: 140px;
  clear: left;
  text-align: right;
  word-break: hyphenate;
  word-wrap: break-word;
}

dd {
  @include clearfix();
  margin-left: 160px;
}

