@import "variables";

// special nav header
h0 {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: normal;
  line-height: 1.1;
  color: $dark-gray;
}

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 500;
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h4{
  font-family: sans-serif;
  font-weight: bold;
}
